{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {lager_truncation_size, 1024}]}.
{deps, [
        {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.4"}}},
        {eleveldb, {git, "https://github.com/basho/eleveldb.git", {branch, "develop"}}},
        {mnesia_eleveldb, {git, "https://github.com/klarna/mnesia_eleveldb.git", {tag, "1.0.11"}}},
        {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v1.7.5"}}}
       ]}.

{shell, [
    {apps, [tivan]}
]}.

{plugins, [rebar3_hex]}.
