{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {lager_truncation_size, 1024}]}.
{deps, [
        {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.4"}}},
        {mnesia_rocksdb, {git, "https://github.com/aeternity/mnesia_rocksdb.git", {branch, master}}},
        {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v1.7.5"}}}
       ]}.

{shell, [
    {apps, [tivan]}
]}.
